@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteinar {
    display: flex;
    margin: 0 15px;
}

.column {
    display: flex;
    align-items: center;
    background-color: #111111;
    color: whitesmoke;
    padding: 50px 25px;
}

.red {
    background-color: red;
}

.column h1 {
    margin-bottom: 7px;
}

.column img {
    width: 65px;
    height: 65px;
}

.details {
    margin-left: 15px;
}
